{
  "extends": "airbnb-base",
  "parserOptions": {
    "ecmaVersion": 2020
  },
  "plugins": ["vitest"],
  "rules": {
    "import/extensions": ["error", "ignorePackages"],
    "class-methods-use-this": "off"
  }
}